﻿﻿*{
    padding:0;
    margin:0;
}
@import "all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

h1,h2,h3,h4,h5,h6{font-family: 'Barlow', sans-serif;font-weight:700}
.subtitle  span{font-family: 'Barlow', sans-serif;font-weight:700}
p, li, a, label,input, span{font-family: 'RobotoSlab';font-weight:600}
li{line-height:30px}
p{font-size:15px;line-height: 34px;letter-spacing:0.5px;margin-bottom:0.5rem}
.form-control{font-family: 'RobotoSlab';font-size:14px}
@font-face {
    font-family: 'RobotoSlab';
    src:url('../fonts/RobotoSlab.woff') format('woff'),
    url('../fonts/RobotoSlab.woff2') format('woff2'),
    url('../fonts/RobotoSlab.svg#RobotoSlab') format('svg'),
    url('../fonts/RobotoSlab.eot'),
    url('../fonts/RobotoSlab.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoSlab.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{background:url(../images/bg.jpg) repeat;width:auto;height:100%;background-size: contain;}
.star{color:red;}

.fontsty p{font-style:italic;line-height:30px}
/* =============   Common  ================*/
.m-t-100{margin-top:100px}
.m-b-100{margin-bottom:100px}
.m-t-50{margin-top:50px}
.m-t-20{margin-top:20px}
.m-b-50{margin-bottom:50px}
.p-t-10{padding-top:10px}
.p-t-20{padding-top:20px}
.padd-20{padding:20px}
.m-l-10{margin-left:10px}
.p-t-100{padding-top:100px}
.p-t-50{padding-top:50px}
.h2-title{color:#085ca7;font-size:36px;text-transform:uppercase;font-weight:700;}
.h2-title span, .h2-tit span{font-family: 'Barlow', sans-serif;}
.sub-title{color:#085ca7;font-size:36px;font-weight:700;font-family: 'RobotoSlab';}
.h2-title span{color:#21bafe;}
.clr-fff{color:#fff !important}
.clr-blue{color:#21bafe}
.pos-rel{position:relative}
.d-flex1{display:flex;align-items:baseline;}
.flex-end{display:flex;align-items:baseline;justify-content:flex-end}
.btn-submit{background: #5ebbfe;color: #fff;font-family: 'RobotoSlab';}
.h3sub{color:#2e5da7}
.align-center{align-items:center;padding:15px 0px;border-bottom: 1px solid #dddd;}
.partner-reg{float:right;color:#fff;margin-left:20px}
.f-right{float:right}
.letter-spa{letter-spacing:1px}
*
{
    box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button
{
    background-color: transparent;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 0px 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:9
}
.open-button img{width:60px}
/* The popup chat - hidden by default */
.chat-popup
{
    display: none;
    position: fixed;
    bottom: 60px;
    right: 0px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background: #fff;
    width: 25%;
    height: 70vh;
    padding: 30px;
}

/* Add styles to the form container */
.form-container
{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea
{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus
{
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn
{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel
{
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover
{
    opacity: 1;
}
/* =============   Common  ================*/
/* =============   Navigation  ================*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(46 93 167 / 80% );
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
    left:0;
    top:30px;border-top:3px solid #fff;
    padding:20px 0px;
    min-width:max-content;
}
.bgcolor{background:#2e5da7;color:#fff;}
.navbar{padding:0px 1rem;width:100%}
.dropdown-content a {
    float: none;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight:500;
    font-size:16px;
}
.dropdown-content a:hover {
    color: #5ebbfe;
}
.padd-30{padding:30px}
.p-t-10{padding-top:10px}
.menu-large{position:relative !important}
.menu-large:last-child .dropdown-content {right:0;left:auto}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-item:focus, .dropdown-item:hover{background:#ffffff20;color:#fff}
.f-right{float:right}
.m-bottom{margin-bottom:0px}
.f-column{display:flex;align-items:center;flex-direction:column}
/* =============   Navigation  ================*/
/* =============   Header  ================*/
.header:before{position:absolute;left:0;right:0;top:0;bottom:0;background:#21bafe;width:100%;content:'';height:75px;margin:auto}
.header{background:#FFF;padding:10px 0px;position:relative}
.h2-style{position:relative;display:inline}
.h2-style:before{position:absolute;content:'';width:auto;left:0;right:0;bottom:0px;height:2px;background:#fff;display:inline-block}
.header .row, .navigation .row{align-items:center}
.container-fluid{padding:0px 100px}
.logo-information{color:#fff;width:100%;padding-top:35px; padding-bottom:15px; display:flex;align-items:center;justify-content:space-between}
.btn{border-radius:0px;color:#fff}
.btn-blue{background:#21bafe;padding:0px 15px;}
.top-navigation{background:#d5deec;padding:0px 100px;}
.btn-orange{background:#f39911;padding:0px 15px;}
.navbar-expand-lg .navbar-nav .nav-link{padding-left:0.6rem;padding-right:0.6rem}
.logo-title{font-weight:700;font-size:30px;margin-bottom:0 ; float:left}
.logo-information p{margin-bottom:0px;}
.navigation{float:left;width:100%;position:relative;bottom:0px}
.blue-bg{background:#21bafe;text-align:center;padding:50px;}
.h2-tit{color:#085ca7;font-size:36px;text-transform:uppercase;font-weight:700;}
.h2-tit span{color:#fff}
.d-blk{display:block;}
.nav-item{background:#f7f7f7}
.carousel-item:nth-child(5):before, .carousel-item:nth-child(6):before{background:transparent}
.footer-list a{color:#fff;margin-left:15px}
.nav-item{margin-right:5px}
.navbar-nav.mr-auto{margin:0 auto !important;}
.box-line{width: 100%;
    background: #fff;
    padding: 30px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 15px 0px;}
/* =============   Header ================*/
.navbar-light .navbar-nav .nav-link{color:#666}
.modal-content{padding:50px}
.modal-head{display:flex;align-items:center;justify-content:space-between}
.send-btn{background:#f39911;padding:7px 20px;border-radius:5px}
.heading-box h2{ width:100%; color: red; }
.slides li{position:relative;z-index:0}
.text-box {
    position: absolute;
    top: 20%;
    left: 15%;
    right: 15%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
    z-index:9;
}
.text-upper{text-transform:uppercase}
.flexslider .slides li:not(:nth-child(2)):after
{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    left:0;right:0;top:0;bottom:0;
    animation: animateBg 1s linear;
    background-image: linear-gradient(45deg,#f7931e70, #fcee2170, transparent, transparent);
    background-size: 100% 1100%;
    z-index:9;
}
@keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
}
.text-box .slideInLeft, .text-box .fadeInDown, .text-box .fadeInUp{padding-top:15px}
.width100{width:100%;}
.text-box h2{font-size:42px;font-weight:700;line-height:40px}
.text-box p{font-size:18px;}
.orange-btn{background:#f39911;padding:10px 20px;color:#fff}
.orange-btn:hover{color:#fff}
.nav-link{padding: 0rem 1rem 0rem;font-size:14px}
.light-bg{background:#f7f7f7;max-height:580px}
.gray-bg{background:#f7f7f7}
.white-bg{background:#fff;}
.flexslider .slides > li:nth-child(4) .text-box h2{font-size:30px}
.flexslider .slides > li:nth-child(4) .text-box{background: #2e5da7;padding: 20px;width: 40%;left: 50%;height: 300px;display: flex;align-items: center;flex-direction: column;justify-content: center;}
.flexslider .slides > li:nth-child(3) .text-box{color:#2e5da7}
.flexslider .slides > li:nth-child(3) .text-box .h2-style:before{background:#2e5da7}
.flexslider .slides > li:nth-child(4) .text-box, .flexslider .slides > li:nth-child(6) .text-box ,  .flexslider .slides > li:nth-child(7) .text-box{top:50% !important}
.flexslider .slides > li:nth-child(5) .text-box{width:45%;left:50%;text-align:left}
.white-bg:before{content:'';position:absolute;width:120px;height:70px;background:url(../images/quotes.png) no-repeat;background-size:contain;left:50px;top:100px}
.light-bg .white-bg>div:first-child{padding:50px;text-align:center}
.h4-style{font-weight:700;color:#085ca7;text-align:right;font-family: 'robotoslab';}
.h5-style{font-size:28px;font-weight:700;color:#f39911 !important;font-size:24px;font-family: 'robotoslab';display:inline-block;position:relative}
.h5-style:before{position:absolute;content:'';width:50px;height:2px;left:-70px;bottom:12px;background:#f39911}
.inl-btn{font-size:28px;font-weight:700;color:#f39911 !important;position:relative;float: right; display: block; text-decoration: none !important;padding:30px 0px;}
.inl-btn:before{content:'';position:absolute;left:-70px;bottom:50px;width:50px;height:2px;background:#f39911}
.ecoliere{position:relative;background:url(../images/eco.jpg) no-repeat;width:100%;padding:30px;text-align:center}
.ecoliere:before{content:'';position:absolute;left:0;right:0;top:0;bottom:0;background:#085ca7b3}
.m-tb-15{margin:15px 0px}
.events{padding:0px 15px}
.adm{width:100%;padding:10px 15px;text-align:left;border-radius:5px;display: flex;align-items: center;justify-content: space-between;}
.adm .fas{font-size:20px}
.form-label{margin-bottom:5px}
.events:hover{box-shadow:0px 0px 10px #ddd}
.event-txt{padding:15px;text-align:center;background:#fff}
.student-life{background:url(../images/program-bg.jpg) no-repeat;width:100%;height:580px;background-size: cover;position:relative}
.student-life:before{content:'';position:absolute;right:0;top:0;bottom:0;background:#21bafed9;width:100%}
.width100{width:100%}
.width27{width:27%;float:left;position:relative}
.width73{width:73%;float:left;padding:50px}
.width80{width:80%}
.box-elevation{box-shadow:0px 0px 10px #ddd;background:#fff;border-radius:10px}
.h4-weight{font-weight:700;color:#666;font-size:24px;font-family:'robotoslab'}
.svg-icons{padding:30px 10px;text-align:center}
.svg-icons svg{height:90px}
.social-ic{position:fixed;top:30%;left:0;z-index:999}
.so-icons{list-style:none}
.r-circle{width:50px;height:50px;border-radius:50px;text-align:center;margin-right:20px;display:flex;align-items:center;justify-content:center;padding-top:10px}
.l-circle{width:50px;height:50px;border-radius:50px;text-align:center;margin-left:20px;display:flex;align-items:center;justify-content:center;padding-top:10px}
#sync2.owl-carousel.owl-drag .owl-item{width:38% !important;float:none;margin-top:20px}
#sync2.owl-carousel.owl-drag .owl-item:nth-child(1), #sync2.owl-carousel.owl-drag .owl-item:nth-child(2), #sync2.owl-carousel.owl-drag .owl-item:nth-child(3){top:0;left:0;position:absolute;padding:20px 40px 20px 0px;text-align:right}
#sync2.owl-carousel.owl-drag .owl-item:nth-child(4), #sync2.owl-carousel.owl-drag .owl-item:nth-child(5), #sync2.owl-carousel.owl-drag .owl-item:nth-child(6){top:0;right:0px;position:absolute;padding:20px 0px 20px 40px;}
#sync2.owl-carousel.owl-drag .owl-item:nth-child(5){top:185px}
#sync2.owl-carousel.owl-drag .owl-item:nth-child(6){top:380px}
#sync2.owl-carousel.owl-drag .owl-item:nth-child(2){top:185px}
#sync2.owl-carousel.owl-drag .owl-item:nth-child(3){top:380px}
.owl-carousel .owl-item:hover h5{color:#ed9820}
.feature{height:550px;position:relative;margin-bottom:100px}
#sync2 .owl-stage-outer{overflow:visible !important}
#sync1.owl-carousel.owl-loaded{width:16% !important;float:left;display:inline-block !important;position:absolute;left:42%;z-index:99;margin-top:40px}
#sync1.owl-carousel.owl-loaded:before{content:'';position:absolute;background:url(../images/frame-bg.png) no-repeat;width:300px;height:530px;z-index:99;background-size:contain;}
#sync2.owl-carousel.owl-loaded{width:100%;float:right;display:inline-block !important;}
/* ---- new styles from 2020 templates ----*/
.h3-style{color:#0062cc;font-weight:600;width:100%;text-shadow:none;font-size:20px}
.c-txt{font-size:30px;font-weight:bold;color:#fff !important;margin-right:5px;display:block}
.r-image{width:80px;height:80px;margin-right: 20px;object-fit:cover}
.testimonials{padding:20px;}
.circle-1{height:90px;width:90px;margin-right:20px;border-radius:50%;display:flex;align-items:center;justify-content:center;font-size:20px;color:#fff;padding:10px;}
.box-modal{box-shadow:0px 0px 5px #ddd;border-radius:5px;padding:20px;margin:15px 0px}
.white-bg{background:#fff}
.frame-bg img{width:auto !important;height:512px}
.d-fstart{display:flex;align-items:flex-start;}
.content{width:80%;}
.content h5{font-family: 'RobotoSlab';font-size:20px;margin-bottom:10px}
.d-fstart .content p{font-size:14px;font-weight:400;line-height:30px}
.g-bg{background:#8cbd3f}
.dg-bg{background:#0a905d}
.b-bg{background:#1d96bb}
.o-bg{background:#ec6224}
.p-bg{background:#d427e2;}
.pi-bg{background:#c31a7f;}
.features{width:100%;height:600px;}
.last-section{background:#f39911;position:relative}
.last-section:before{position:absolute;content:'';background:url(../images/wave.png) no-repeat;background-size:cover;width:100%;height:180px;top:-180px;left:0;right:0;}
.news-bg{background:#fff;width:100%;margin-top:-100px;padding:0px 15px;position:relative}
.news-bg:before{background:#ed9820;width:100%;height:5px;content:'';position:absolute;top:0;left:0}
.clr-blu{color:#21bafe;font-family:robotoslab}
.li-ele{border-bottom:1px solid #666;padding:20px 0px}
.ecoliere p{float:left;}
.img-txt{margin:15px 0px;}
/* ---- end : new styles from 2020 templates ----*/
.parent-tess{display:flex;align-items:center;justify-content:center;font-size:28px;color:#fff;font-family:robotoslab;}
.parentimage{position:relative;background:#085ca7;border-radius:50%;padding-right:10px;padding-top:10px;margin-right:15px}
.single-item .slick-prev, .single-item .slick-next{bottom:-50px;top:auto !important}
.single-item .slick-prev{left:45%;}
.single-item .slick-next{right:45%;content:'\f101'}
.single-item  .slick-prev:before, .single-item .slick-next:before{background:#fff;color:#ed9820;padding:10px;font-size:16px;}
.single-item .slick-prev:before{content:'\f100'}
.single-item .slick-next:before{content:'\f101'}
.footer{width:100%;background:url(../images/footer-bg.jpg) no-repeat;background-size:cover;position:relative}
.footer:before{content:'';position:absolute;background:rgba(0,0,0,0.8);width:100%;left:0;right:0;bottom:0;top:0}
.f-icon{margin-right:10px;}
.footer-list{color:#fff;list-style:none;}
.footer-list>li{display:flex;align-items:baseline;}
.footer-list>li p{margin-left:10px}
.s-icons li{float:left;list-style:none}
.font-sz12{font-size:12px}
.f-bg{background:#4056ab;width:40px;height:40px;display:flex;align-items:center;justify-content:center}
.t-bg{background:#60b7ff;width:40px;height:40px;display:flex;align-items:center;justify-content:center}
.y-bg{background:#fd2e3c;width:40px;height:40px;display:flex;align-items:center;justify-content:center}
.i-bg{background:#e14c92;width:40px;height:40px;display:flex;align-items:center;justify-content:center}
a:hover{color:#21b9fd;text-decoration:none}
.p-b-50{padding-bottom:50px}
.copy-right{background:#000;padding:10px;text-align:center;color:#fff;position:relative}
.copy-right p{margin-bottom:0px}
.n-image{position:relative;padding-right:5px;padding-bottom:5px;background:#5ebbfe33;}
.n-image:before{position:absolute;content:'';left:10px;top:10px;right:10px;}
.page-banner{width:100%;height:200px;position:relative}
.page-banner:before{content:'';background:rgba(0,0,0,0.5);top:0;left:0;right:0;bottom:0;position:absolute}
.h1-banner{position:absolute;display:flex;align-items:center;justify-content:center;font-size:48px;color:#fff;top:0;left:0;right:0;bottom:0px}
.sub-banner{height:200px;object-fit:cover}
.page p, .page li{color:#666}
.subtitle{font-size:30px;font-weight:700;color:#085ca6;}
.subtitle span{color:#21b9fd}
.list-none{list-style:none}
.align-baseline{display:flex;align-items:baseline}
.align-baseline i{margin-right:15px;color:#085ca6;font-size:16px}
.white-bg1{background:#fff}
.padd-20{padding:20px}
.height500{height:500px}
.border-50{border-radius:50%}
.f7-bg{width:150px;height:150px;display:flex;align-items:center;justify-content:center;background:#f7f7f7;margin:0 auto}
.circle{width:72px;height:72px;border-radius:50%;display:flex;align-items:center;justify-content:center;margin-left:-30px;margin-right:20px}
.bgclr1{background:#22b473}
.bgclr2{background:#29aae1}
.bgclr3{background:#92278e}
.bgclr4{background:#d3145a}
.bgclr5{background:#1b1464}
.adm-list{display:flex;align-items:center;margin:10px}
.list-none p{margin-bottom:0px}
.sp-txt{color:#21b9fd}
.sub-txt{color:#21b9fd}
.padd-30{padding:0px 30px}
.back-bg{background:url(../images/backimg.png) no-repeat;width:100%;height:450px;background-size:cover;position:relative;text-align:center;padding:30px}
.back-bg:before{content:'';background:rgba(8,92,166,0.7);top:0;left:0;right:0;bottom:0;position:absolute}
.pos-relative{position:relative}
.pos-relative li{line-height:36px}
.carousel-indicators{z-index:1 !important}
.venom-button .venom-button-popup.active{right:0px}
.venom-button{z-index:999}
.mobile{display:none}

/* =============   News ticker ================*/

/* =============   News ticker ================*/


/* =============  Media Queries  ================*/
@media only screen and (max-width: 1440px)
{
    .logo-information p{font-size:14px}
    .nav-link{font-size:13px;padding:0px 1rem}
    .nav-item{margin-right:5px}
    .logo img{width:100%}

}
@media only screen and (max-width: 1440px) and (min-width:1201px)
{
    .navbar-expand-lg .navbar-nav .nav-link{padding-left:0.3rem;padding-right:0.3rem}
    .frame-bg img{height:495px !important;margin-left:10px;margin-top:5px;}
    #sync1.owl-carousel.owl-loaded:before{height:505px !important}
}

@media only screen and (min-width: 1200px)
{
    .flex-viewport{height:650px !important;}
    .flexslider .slides img:not(.text-box img){height:650px}
}

@media only screen and (max-width: 1200px)
{
    .navbar-expand-lg .navbar-nav .nav-link{padding-left:0.3rem;padding-right:0.3rem}
    .container-fluid{padding:0px 15px}
    .btn-blue, .btn-orange{width:auto}
    .txt-right{text-align:right}
    .nav-item{margin-right:0px;border:1px solid #fff;border-align:inside}
    .navbar{padding:0px}

}

@media only screen and (max-width: 1024px)
{
    .navbar-light .navbar-nav .nav-link{font-size:13px}
    #sync1.owl-carousel.owl-loaded{width:22% !important;left: 40%;}
    .frame-bg img{height:456px}
    .h2-title{font-size:30px}
    .width80{width:100%}
    .n-image{width:100%}
    .g-recaptcha>div:first-child{width:100%;}
    .logo img{width:100%}
    .navbar-nav{margin-left:-15px}
    .padd-30{padding:20px}
    #sync1.owl-carousel.owl-loaded:before{height:480px}
    .width27{width:40%}
    .width73{width:60%}
    .logo-title{font-size:24px}
    .logo-information p{font-size:12px}
    .header:before{height:65px;top:8px}
    .feature-top{padding-top:60px}
}

@media only screen and (max-width: 991px)
{
    .slick-prev, .slick-next{display:none !important}
    .d-flex1{align-items:baseline}
    .h4-weight{font-size:20px}
    .f-bg, .t-bg, .y-bg, .i-bg{width:40px;height:40px}
    .header{background:#5ebbfe}
    .navbar{justify-content:flex-end;padding-right:20px}
    .logo-information p{width:100%}
    .navbar-collapse{position:absolute;top:40px;z-index:99;width:40vw}
    .dropdown-content{left:auto;right:0px}
    .nav-item{padding:0px 10px}
    .navbar-light .navbar-toggler{background:#2e5da8}
    .navbar-expand-lg .navbar-toggler{display:block}
    .light-bg{max-height:100%}
    .d-fstart .content p{display:none}
    #sync1.owl-carousel.owl-loaded{left:39% !important}
    .logo-information{flex-direction:column;align-items:flex-start;}
    .svg-icons svg{height:50px}
    .h4-weight{font-size:16px;}

}
@media only screen and (max-width: 867px)
{
    .width27 img{width:100%}
    .frame-bg img{height:406px}
    #sync1.owl-carousel.owl-loaded:before{height:420px}
    .width27{display:none}
    .width73{width:100%}
}

@media only screen and (max-width: 768px)
{
    .logo img{width:100%}
    .logo-title{font-size:1.7rem}
    .h1-banner{font-size:36px}
    .light-bg{max-height:100%}
    .frame-bg img{height:350px}
    .d-fstart .content p{display:none}
    #sync2.owl-carousel.owl-drag .owl-item:nth-child(3), #sync2.owl-carousel.owl-drag .owl-item:nth-child(6){top:250px}
    #sync2.owl-carousel.owl-drag .owl-item:nth-child(2), #sync2.owl-carousel.owl-drag .owl-item:nth-child(5){top:120px}
    .features{height:400px}
    #sync1.owl-carousel.owl-loaded{width:23% !important;}
    .svg-icons svg{height:64px;}
    .width27{width:15%}
    .student-life:before{width:100%}
    .width27{display:none}
    .width73{width:100%}
    .dropdown-content object{display:none}
    #sync1.owl-carousel.owl-loaded:before{height:370px}
    .logo-information p{display:none}
}

@media only screen and (max-width: 600px)
{
    .logo{text-align:center}
    iframe{max-height:400px}
    .logo img{width:auto}
    .logo-information{display:none}
    .txt-right{display:none}
    .text-box h2{font-size:24px}
    #sync1.owl-carousel.owl-loaded{position:relative;width:40% !important;left:28%}
    .frame-bg img{height:430px !important;}
    .features{height:fit-content}
    #sync2.owl-carousel.owl-drag .owl-item:nth-child(1), #sync2.owl-carousel.owl-drag .owl-item:nth-child(2), #sync2.owl-carousel.owl-drag .owl-item:nth-child(3){position:relative;top:0}
    #sync2.owl-carousel.owl-drag .owl-item:nth-child(4), #sync2.owl-carousel.owl-drag .owl-item:nth-child(5), #sync2.owl-carousel.owl-drag .owl-item:nth-child(6){position:relative;top:0}
    #sync2.owl-carousel.owl-drag .owl-item:nth-child(1) .d-fstart, #sync2.owl-carousel.owl-drag .owl-item:nth-child(2) .d-fstart, #sync2.owl-carousel.owl-drag .owl-item:nth-child(3) .d-fstart{flex-direction:row-reverse;align-items:center}
    #sync2.owl-carousel.owl-drag .owl-item:nth-child(4) .d-fstart, #sync2.owl-carousel.owl-drag .owl-item:nth-child(5) .d-fstart, #sync2.owl-carousel.owl-drag .owl-item:nth-child(6) .d-fstart{align-items:center}
    .content h5{text-align:left;margin-left:20px}
    #sync2.owl-carousel.owl-drag .owl-item{width:100% !important}
    .box-elevation{margin:15px}
    .n-image{width:auto}
    .frame-bg img{height:350px !important}
    #sync2.owl-carousel.owl-drag .owl-item:nth-child(4), #sync2.owl-carousel.owl-drag .owl-item:nth-child(5), #sync2.owl-carousel.owl-drag .owl-item:nth-child(6){padding: 18px 0px 20px 50px;}
    .r-circle {margin-right:0px !important}
    .testmonial{margin-bottom:20px}
    .chat-popup{width:100%}

    .flexslider .slides img:not(.text-box img){height:auto !important}
}
@media only screen and (max-width: 480px)
{
    .text-box p{display:none}
    .text-box h2{display:inline-block}
    .frame-bg img{height:380px !important}
    .sub-title{font-size:24px}
    .h5-style{font-size:16px}
    .h5-style:before{display:none}
    .h2-title,.h2-tit{font-size:28px}
    h4{font-size:1rem}
    .r-circle{margin-right:0px;margin-left:-10px}
    .h5-style:before{display:none}
    .testmonial{padding-bottom:50px}
    .dropdown-content a{font-size:12px}
    p{font-size:14px}
    #sync1.owl-carousel.owl-loaded:before{height:400px}
    #sync1.owl-carousel.owl-loaded{left:30% !important}
    .flex-active-slide{max-height:300px}
    .text-box{display:none}
}
@media only screen and (max-width: 425px)
{
    #sync1.owl-carousel.owl-loaded{width:39% !important;font-size:18px}
    .n-image{width:100%}
    .width27 img{width:100%}
    .student-life:before{width:100%}
    .width27{width:0%}
    .width73{width:100%}
    .frame-bg img{height:330px !important}
    .m-t-50{margin-top:0;}
    .ecoliere{padding:10px}
    .blue-bg{padding:20px}
    .blue-bg p{text-align:justify}
    .inl-btn:before{display:none}
    li{line-height:20px}
    .flex-direction-nav a{height:20px}
    #sync1.owl-carousel.owl-loaded:before{height:340px}
    .text-box{display:none}

}
@media only screen and (max-width: 375px)
{
    .r-circle{margin-left:0px}
    #sync2.owl-carousel.owl-drag .owl-item:nth-child(1), #sync2.owl-carousel.owl-drag .owl-item:nth-child(2), #sync2.owl-carousel.owl-drag .owl-item:nth-child(3){padding:0px}
    #sync2.owl-carousel.owl-drag .owl-item:nth-child(4), #sync2.owl-carousel.owl-drag .owl-item:nth-child(5), #sync2.owl-carousel.owl-drag .owl-item:nth-child(6){padding:0px}
    #sync1.owl-carousel.owl-loaded:before{height:305px !important}
    .frame-bg img{height:300px !important}
    #sync2.owl-carousel.owl-drag .owl-item{width:90% !important}
    #sync2.owl-carousel.owl-drag .owl-item:nth-child(4), #sync2.owl-carousel.owl-drag .owl-item:nth-child(5), #sync2.owl-carousel.owl-drag .owl-item:nth-child(6){padding-left:20px}
    .open-button{right:20px;display:none !important}
    .content h5{font-size:14px}
    .venom-button{right:100px;}
    .logo{margin-bottom:15px}
    .f-none{display:none;}
    .mobile{display:block;}
    .frame img{height:250px;}
    .frame{position:relative;text-align:center;padding:0px}
    .m-t-10{margin-top:20px}
    .frame:before{content:'';position:absolute;left:32%;right:0;top:0;bottom:0;background: url(../images/frame-bg.png) no-repeat;width:100%;background-size:contain;height:265px}
}
@media only screen and (max-width: 320px)
{
    .frame-bg img{height:280px !important}
    .text-box h2, .h2-title, .h2-tit{font-size:20px}
    .white-bg>div:first-child{padding:10px}
    .student-life{height:670px}
    .g-recaptcha iframe, .g-recaptcha div{width:310px}
    .frame:before{left:28%}
    .venom-button{right:70px;}
}

h2.Sucess-message {
    padding-top: 195px;
    font-size: 22px;
    color: green;
}

/* ============= / Media Queries  ================*/